body
{
	
	background-color: indianred;

}	 
.tete
{
	display:flex;
	justify-content: center;
	align-items: center;
	text-shadow: 4px 4px 2px  darkred;
}	

.infos
{
	display: flex;
	justify-content: space-around;
	border:teal solid;
	background-color: darkred;
	box-shadow: 3px 3px 1px black;
}
p
{
	
}