body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;

}
.inscription
{
    display:flex;
    flex-direction:column;

}
.connexion
{
    display: flex;
    flex-direction:column;
    align-content: stretch;
    position: relative;
    left: 100px;
    bottom : 93px;
}
.co
{
    position: relative;
    left: 100px;
    bottom : 93px;
}
legend
{

    color: white;
}
label
{
    color: white;
}

