body
{
    display: flex;
    justify-content: center;
    align-items: center;


}
.donnees
{
    display:flex;
    flex-direction:column;
}
.infos
{
    display: flex;
    flex-direction:column;
    align-content: stretch;
    width: 100%;
}
input
{
    width: 100%;
}
legend
{

}
label
{

}